.wrapper
  =render :partial => "side-bar"

  .chat
    .header
      .left-header
        .left-header__title
          %h2
            =@group.name
        %ul.left-header__members
          Members :
          - @group.members.each do |member|
            %li.member
              = member.user.name
      .right-header
        =link_to 'Edit', '#', :class=> "right-header__button"
    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        =f.submit 'Send', class: 'form__submit'

        / %input{:type => "hidden", :value => "seo"}
        / %input{:class => "form__message", :placeholder => "type a message", :type => "text"}
        / .form__mask
        /   %label.form__mask__image
        /     %i{:class => "fa fa-picture-o icon"}
        / %input{:type => "submit", :value => "Send", :class => "form__submit"}







